@media screen and (max-width: 480px) {
    .container{
        width: 100%;
        height: auto;
    }
    h1{
        font-size:20px;
    }
    h3{
        font-size:16px;
    }

    .berat, .tinggi{
        font-size: 12px;
    }
}

body{
    background-color: rgb(237, 237, 237);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    line-height: 0.1em;
    font-size: 28px;
}

h3{
    line-height: 0.5em;
    text-align: center;
    width: 100%;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.jenis-kelamin, .sistem-unit {
    text-align: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.colon {
    margin: 0 10px;
}

.berat, .tinggi{
    display: grid;
    column-gap: 1fr;
    grid-template-columns: 0.7fr 0.3fr 0.5fr;
    align-items: center;
    font-size: 16px;
}

.tinggi-imperial{
    display: flex;
    flex-direction: row;
    gap: 4px;
}

#tinggi-kaki, #tinggi-inci{
    width: 48px;
}

.jenis-kelamin, .sistem-unit {
    margin: 10px 0;
}

.jenis-kelamin label, .sistem-unit label {
    margin: 0 15px;
}

.sistem-unit{
    margin-bottom: 16px;
}

input[type="number"] {
    padding: 6px;
    width: 116px;
}

#calculate, #reset-btn {
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

#calculate:hover {
    background-color: #45a049;
}

#reset-btn{
    background-color: rgb(216, 13, 13);
    margin-left: 5em;
}

#reset-btn:hover{
    background-color: rgb(180, 0, 0);
}

.bmi-result{
    text-align: center;
    background-color: aliceblue;
    padding: 24px;
    border-radius: 16px;
}

.bmi-result #head3{
    background-color: #45a049;
    font-weight: 500;
    color: white;
    padding: 2px;
    border-radius: 12px;
    font-size: 20px;
}
